<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NewCTFBot/src/main/java/edu/okstate/kesava/newctfbot/CTFBot.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.okstate.kesava.newctfbot.CTFBot"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NewCTFBot"/>
</launchConfiguration>
