<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FSM_bot/src/main/java/edu/okstate/kesava/fsm_bot/HunterBot.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.okstate.kesava.fsm_bot.HunterBot"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FSM_bot"/>
</launchConfiguration>
